<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, 
shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <title>Movies Web App</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">Movies Web App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" 
aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    {% if request.user.is_authenticated == False %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/auth0">Log In</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated == True %}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
		    <li class="nav-item">
                        <a class="nav-link" href="/task1">Task1</a>
                    </li>
		    <li class="nav-item">
                        <a class="nav-link" href="/task2">Task2</a>
                    </li>
		    <li class="nav-item">
                        <a class="nav-link" href="/task3">Task3</a>
                    </li>
		    <li class="nav-item">
                        <a class="nav-link" href="/task4">Task4</a>
                    </li>
		    <li class="nav-item">
                        <a class="nav-link" href="/task5">Task5</a>
                    </li>
		    <li class="nav-item">
                        <a class="nav-link" href="/task6">Task6</a>
                    </li>
		    <li class="nav-item">
                        <a class="nav-link" href="/task7">Task7</a>
                    </li>
		    <li class="nav-item">
                        <a class="nav-link" href="/task8">Task8</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container px-2">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
